GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=changeme

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=changeme

# Generate with: openssl genrsa 2048 | awk 'NF {sub(/\r/, ""); printf "%s\\n",$0;}'
IDENTITY_JWT_RSA_PRIVATE_KEY=
